body {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif;
    font-size: 8pt;
    margin: 0;
}

table {
    font-size: 100%;
}

.header {
    background: #ddd;
    padding: 0.5em;
    font-weight: bold;
}

.content {
    margin: 5em;
}

.footnotes {
    background: #eee;
    padding: 0.25em;
}

.controls {
    margin: 1em 0;
    padding: 0.5em;
}