.timeline-container {
    position: relative;
    overflow: hidden;
}

.timeline-band {
    position: absolute;
    background: #eee;
}

.timeline-band-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee;
}

.timeline-band-layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.timeline-band-layer-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.timeline-band-highlight {
    position: absolute;
    background: white;
    -moz-opacity: 0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(Style=0,Opacity=50);
}

.timeline-band0 {
    background: #FFFFE0;
}

.timeline-band1 {
    background: #BFBFA8;
}

.timeline-band2 {
    background: #8F8F7E;
}
