.timeline-container {
    position: relative;
    overflow: hidden;
}

.timeline-band {
    position: absolute;
    background: #eee;
}

.timeline-band-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee;
}

.timeline-band-layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.timeline-band-layer-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.timeline-band-highlight {
    position: absolute;
    background: white;
}

.timeline-band0 {
    background: #eee;
}

.timeline-band1 {
    background: #ddd;
}

.timeline-band2 {
    background: #ccc;
}
